.tree-card {
    display: flex;
    margin-top: 10px;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    @media(min-width: 40rem) {
      width: 50%;
    }
    @media(min-width: 56rem) {
      width: 33.3333%;
    }
  }

.card {
    margin: 10px;
}

.card-body {
    text-align: center;
}

.round-image {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: gray;
}